body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 4em;
    vertical-align: middle;
}

h2 {
    font-size: 2.6em;
}

.spacer {
    height: 59px;
}

section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

li {
    display: flex;
    font-size: 30px;
    padding: 30px;
    color: lightgreen;
}


.banner {
    background: transparent;
    height: 60px;
    width: 100%;
    position: fixed;
    background: darkslateblue;
    display: flex;
    align-content: center;
}


.banner .hamburger .bar {
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background:turquoise;
    margin: 5px;
}


.list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.devlogo {
    height: 80px;
    width: auto;
    background: transparent;
    padding: 20px;
    align-self: center;

}

.banner-logo {
    height: 40px;
    width: auto;
}


header {

}

.header-image {
    display: block;
    width: 100%;
    height: 500px;
    text-align: center;
    background: url(/img/nebula1.png) no-repeat center center fixed;
    background-size: cover;
}

.about {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headline {
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: darkblue;
    color: skyblue;
    text-decoration: border 2px;
}

.mission {
    background: white;
    height: 420px;
    width: 100%;
}

.skills {
    background: purple;
    height: auto;
    width: 100%;
}

.skill-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio {
    background: cornflowerblue;
    height: auto;
    width: 100%;
}

.contact {
    background: green;
    height: auto;
    width: 100%;
}

.featurette {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
    flex-direction: row;
}

.featurette div {
    flex-direction: column;
}

.featurette-image {
    width: 90px;
    height: auto;
}

.featurette-divider {
    width: 20%;
    size: 2px;
}

.footer {
    background: gray;
    color: yellow;
}